[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ultralytics = "*"
openvino = "2024.3.0"
onnx = "*"
torch = ">=2.1.1"
torchvision = ">=0.16"
tqdm = "*"
ipython = "*"
ipywidgets = "*"
mailjet-rest = "*"
python-dotenv = "*"
pandas = "*"
termcolor = "*"
shapely = "*"
opencv-python = "*"
openvino-dev = "*"
isort = "*"
filterpy = "*"
scikit-image = "*"
deep-sort-realtime = "*"
matplotlib = "<3.7,>=3.4"
requests = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.12"
