[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ultralytics = "==8.2.24"
openvino = "2024.3.0"
onnx = "*"
torch = ">=2.1"
torchvision = ">=0.16"
tqdm = "*"
ipython = "*"
ipywidgets = "*"
opencv-python = "*"
mailjet-rest = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
